{% extends "appbuilder/base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>{{_("Greater Lawrence Family Health Center")}}</h1>
    <h3>{{_("AthenaHealth Bulk Data Updater")}}</h3>
      <h3>{{_("Author: Henry Feldman, MD")}}</h3>
      <p>{{_("This application contains Protected Health Information as defined by
      the Health Insurance Portability and Accountability Act of 1996 (HIPAA).
      Use of this application and the data therein is protected under federal law.
      Misuse of this data can be grounds for termination or legal action. All Rights
      Reserved to GLFHC and affiliates.")}}</p>
  </div>
</div>
{% endblock %}